<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head('head')"></head>

<body>
<div th:fragment="navbar" class="sticky-top" id="navGap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"> HomeFinderTX</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/index"><i class="fa fa-fw fa-search"></i> Homes</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/register"><i class="fa  fa-id-badge"></i> Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
                </li>
                <!--<li sec:authorize="isAuthenticated()"  class="nav-item">-->
                    <!--<a class="nav-link" href="/calltwilio"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>-->
                <!--</li>-->
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/profile"><i class="fa  fa-address-card"></i> Profile</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/about-us"><i class="fa fa-users" aria-hidden="true"></i> About Us</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" >
                    <form  th:action="@{/logout}" th:method="post" >
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 btn-link btn nav-link" style="margin-top: 8px"><i class="fa  fa-sign-out"></i> Logout</button>
                    </form>
                </li>
            </ul>
            <form th:action="@{/search}" method="get" th:object="${search}" class="form-inline my-2 my-lg-0">

                <input type="hidden" name="search_param" value="all" id="search_param" />
                <input type="search" class="form-control mr-sm-2" name="x" placeholder="Search by zipcode, address, price..." />
                <span class="input-group-btn">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </span>
            </form>
        </div>
    </nav>

</div>
</body>
</html>
