.home-body {
    background-image: url(/../images/stock-house-blue-angle.jpeg);
    background-size: cover;
    height: 850px;
    background-position: 30% 10%;
}

.nav-font {
    background-color: rgba(3, 43, 67, 1); /*rgba(41, 41, 41, .2);*/
}

.logo-text {
    font-family: 'Cinzel Decorative', Helvetica, sans-serif;
    color: lawngreen;
    text-shadow: .75px .75px #2f1100;
}

.parallaxHome {
    background-color: rgba(10, 10, 10, 0);
    padding-top: 60%;
}

.home-title {
    font-size: 50px;
}

.imagine {
    font-size: 20px;
}

.navbar-background {
    /*background-color: rgba(41, 41, 41, 0)*/
}

.custom-toggler.navbar-toggler {
    border-color: rgba(124,252,0,1);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 426px) {
    .parallaxHome {
        padding-top: 33%;
    }
}



@media only screen and (min-width: 769px) {
    .home-body {
        background-position: 0 -120px;
        height: 100%;
    }

    .logo-text {
        font-family: 'Cinzel Decorative', Helvetica, sans-serif;
        color: lawngreen;
        text-shadow: .75px .75px #2f1100;
    }

    .parallaxHome {
        padding-top: 19%;
    }

    .home-title {
        font-size: 60px;
    }
}
