/*.navbar-background {*/
    /*background-color: #EBE9E9;*/
/*}*/

.nav-font {
    background-color: rgba(3, 43, 67, 1); /*rgba(41, 41, 41, .2);*/
}

/*body {*/
    /*background-image: url(/images/stock-house-blue-angle.jpeg);*/
    /*background-size: cover;*/
    /*height: 850px;*/
    /*background-position: 30% 10%;*/
/*}*/

.parallaxIndex {
    background-image: linear-gradient(#032B43, #7cb342);
    /*background-image: url("/../images/brown-house.jpeg");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*min-height: 65vh;*/
}

.price {
    font-size: 30px;
}


/*CHANGES NAV-FONT TO BOLD*/
/*nav  {*/
    /*margin-right: auto;*/
    /*font-size: 1.6em;*/
    /*font-weight: 500*/
/*}*/

/*CREATES A SHADOW UNDER NAVBAR WHEN SCROLLING*/

.shadow {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .6);
}
/*body {*/
    /*!*background: #ffdbc6;*!*/
/*}*/

.listDiv{
    margin-top: 5%;
}