.nav-font {
    background-color: rgba(3, 43, 67, 1);
}

.parallaxIndex {
    background-image: linear-gradient(#032B43, #7cb342);
    /*background-image: url("/../images/brown-house.jpeg");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*min-height: 65vh;*/
}

.price {
    font-size: 30px;
}

.shadow {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .6);
}

.listDiv{
    margin-top: 5%;
}

.margin {
    margin: 0;
}

.map-size {
    height: 600px;
    width: 100%;
}

.house-img {
    height: 600px;
    width: 100%;
}


/*NON MOBILE VIEW*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    /*HIDE VIEW ON MOBILE*/
    #laptopview {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}


/*NON MOBILE VIEW*/
@media only screen
and (min-device-width : 481px)
and (max-device-width : 2560px) {
/*HIDE VIEW ON LAPTOP*/
    #mobileview {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    .map-size {
        height: 250px;
        width: 350px;
    }

    .house-img {
        height: 250px;
        width: 350px;
    }
}
