.nav-font {
    background-color: rgba(3, 43, 67, 1);
}

.parallaxIndex {
    background-image: linear-gradient(#032B43, #7cb342);
    /*background-image: url("/../images/brown-house.jpeg");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*min-height: 65vh;*/
}

.shadow {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .6);
}

.listDiv{
    margin-top: 5%;
}

.map-size {
    height: 220px;
    width: 100%;
}

.house-img {
    height: 220px;
    width: 100%;
}

.anchor:link {
    color: whitesmoke;
}
.anchor:hover {
    color: white;
}
.anchor:visited {
    color: whitesmoke;
}
.anchor:active {
    color: white;
}

.custom-toggler.navbar-toggler {
     border-color: rgba(124, 252, 0, 1);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.index-container {
    padding: 0 7% 0 7%;
}


/*NON MOBILE VIEW*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    /*HIDE VIEW ON MOBILE*/
    #laptopview {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}


/*NON MOBILE VIEW*/
@media only screen
and (min-device-width : 481px)
and (max-device-width : 2560px) {
/*HIDE VIEW ON LAPTOP*/
    #mobileview {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    .map-size {
        height: 250px;
        width: 350px;
    }

    .house-img {
        height: 250px;
        width: 350px;
    }

    .anchor:link {
        color: #28a745;
    }
    .anchor:hover {
        color: green;
    }
    .anchor:visited {
        color: #28a745;
    }
    .anchor:active {
        color: darkgreen;
    }

    .index-container {
        padding: 0;
    }
}
