.profile-body {
    background-image: url(/../images/brown-house.jpeg);
    background-size: cover;
    height: 900px;
    color: whitesmoke;
}

.grey-transparent {
    text-align: center;
    padding: 5%;
    background-color: rgba(40, 40, 40, .9);
    border-radius: 20%;
    margin: 5%;
    height: 80%;
    width: 90%;
}

.nav-font {
    background-color: rgba(3, 43, 67, 1);
}

.box {
    margin-top: 15%;
}

.profile-img {
    background-color: whitesmoke;
    border-radius: 20%;
    height: 170px;
    width: 170px;
}



@media only screen and (min-width: 769px) {
    .profile_body {
        background-size: cover;
        height: 100%;
    }

    .grey-transparent {
        width: 40%;
    }
}
