.navbar-background {
    background-color: #EBE9E9;
}
.navbar-background {
    background-color: rgba(41, 41, 41, 0)
}

.nav-font{background-color: rgba(3, 43, 67, 1);}

/*body {*/
/*background-image: url(/images/stock-house-blue-angle.jpeg);*/
/*background-size: cover;*/
/*height: 850px;*/
/*background-position: 30% 10%;*/
/*}*/

.parallaxIndex {
    background-image: url("../TwilioStatic/air-bubbles-clipart-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
}


/*!*CHANGES NAV-FONT TO BOLD*!*/
/*nav  {*/
/*margin-right: auto;*/
/*font-size: 1.6em;*/
/*font-weight: 500*/
/*}*/

/*CREATES A SHADOW UNDER NAVBAR WHEN SCROLLING*/

.shadow {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .6);
}body {
     /*background: #ffdbc6;*/
 }


.create-body {
    background-image: url(/../TwilioStatic/bluebg.jpeg);
    background-size: cover;
    height: 850px;
    background-position: -390px 0;
}

.create-box {
    padding-top: 5%;
}

.grey-transparent {
    padding: 5%;
    background-color: rgba(40, 40, 40, .9);
    border-radius: 1%;
    margin: 5%;
}

/*FOR THE create FORM*/

.transition,  button, label {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

button {
    margin-top: 35px;
    background-color: white;
    border: 1px solid #28a745;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #28a745;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
button:hover, form button:focus {
    color: white;
    background-color: #28a745;
}


.create-form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}
.create-form .question input[type="number"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}
.create-form .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}
.create-form .question input[type="number"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}

.create-form .question input[type="password"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}
.create-form .question input[type="password"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}



.main .create-box{
    width: 100%;
}
@media only screen and (min-width: 426px) {
    .create-box {
        padding-top: 5%;
    }

}



@media only screen and (min-width: 769px) {
    .create-body {
        background-image: url(/../TwilioStatic/bluebg.jpeg);
        background-size: cover;
        background-position: 0 -170px;
        height: 100%;
    }

    .create-box {
        padding-top: -2%;
        padding-bottom: 2%;
    }

    .grey-transparent {
        margin: 0;
    }
}
