html, body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    width: 100%;
}

.map-size {
    height: 250px;
    width: 350px;
}

.house-img {
    height: 250px;
    width: 350px;
}

.green {
    color: #28a745;
}

.anchor:link {
    color: #28a745;
}
.anchor:hover {
    color: green;
}
.anchor:visited {
    color: #28a745;
}
.anchor:active {
    color: darkgreen;
}

.nav-font {
    font-size: 18px;
    background-color: rgba(3, 43, 67, 0); /*rgba(41, 41, 41, .2);*/
}



@media only screen and (min-width: 426px) {

}



@media only screen and (min-width: 769px) {

}
