html, body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

footer .container {
    background: #2b2b2b;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #ED0034;
    border-color: #ED0034; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.dropdown-menu .dropdown-item:not(:disabled):not(.disabled):active,
.dropdown-menu .dropdown-item:not(:disabled):not(.disabled):focus {
    color: transparent;
}

.title-link {
    color: #ED0034 !important;
    text-decoration: none;
}

.navbar .navbar-brand {
    font-family: 'Cinzel Decorative', Helvetica, sans-serif;
    color: #ED0034;
    text-shadow: 1px 1px #2f1100;
}

.banner {
    background: #292929;
    opacity: .8;
    min-height: 25vh;
    font-weight: 900;
    padding: 65px;
    border: none;
    margin-top: 5em;
}

.text {
    font-weight: 300;
    color: white;
}

.parallax {
    /*background-image: url("");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
}

.logo-text {
    font-family: 'Cinzel Decorative', Helvetica, sans-serif;
    color: #ED0034;
    text-shadow: .75px .75px #2f1100;
}

.carousel-item h5,
.carousel-item blockquote {
    text-align: center;
    color: white;
}

.carousel-item h5 {
    line-height: 60px;
    padding-top: 1em;
}

.carousel-item blockquote {
    font-size: 16px;
    line-height: 50px;
    padding-bottom: 3em;
}

.dev-profiles .card {
    border: none;
}

#register {
    height: 500px;
    border: solid cornflowerblue 3px;
}