<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Our Team')">
    <!---->
</head>


<body>
<nav th:replace="fragments/navbar :: navbar"></nav>


<header class="card">
    <h2 >Welcome</h2>
<br/>
    <br/>

    <h2>Our team's mission</h2>
    <p></p>
    <p></p>
    <p><strong>Noted Success Stories:</strong> We are awesome!!</p>


</header>


<div class="parallaxHome">



<section>
    <div class="card-deck mt-3 mb-2 ">

        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/RuusaBolton.jpg" style="width:100%" alt="Ruusa Bolton"/>
            </div>
            <div class="card-body">
                <h4 class="title card-title">Ruusa Bolton</h4>
                <p class="card-text">"I am careful not to confuse excellence with perfection." <br/> Michael J. Fox</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/ruusapbolton/" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:ruusa.bolton@gmail.com" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/DavidMyers.jpg" style="width:100%" alt="David Myers"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">David Myers</h4>
                <p class="card-text">"We have done so much, with so little, that we can do anything with practically nothing at all." <br/> Unknown</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/david-a-myers/" class="btn btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:davidmyers6643@gmail.com" class="btn btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/CharlesHadden.jpg" style="width:100%" alt="Charles Hadden"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">Charles Hadden</h4>
                <p>"There is no heavier burden than an unfulfilled potential." <br/> Charles Schulz</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/charles-hadden/" class="btn btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:charlesrhadden@gmail.com" class="btn btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/TylorPelletier.jpg" style="width:100%" alt="Tylor Pelletier"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">Tylor Pelletier</h4>
                <p>"You can mass-produce hardware; you cannot mass-produce the human mind." <br/> Michio Kaku</p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/tylor-pelletier/" class="btn btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:pelletier.tylor@gmail.com" class="btn btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

</div>
<footer>
    <p>Footer</p>
</footer>






</body>
</html>