<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Our Team')"></head>
<link rel="stylesheet" href="/css/about-us.css" />

<body class="about-us-body">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="parallaxHome text-center">

    <br />
    <div class="banner transparent-pattern w-100 text-center" >
        <h1 class="text-white">Meet the Developers</h1>
    </div>
    <br />

<section>
    <div class="card-deck mt-3 mb-2 mr-2 ml-2">

        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/RuusaBolton.jpg" class="width" alt="Ruusa Bolton"/>
            </div>
            <div class="card-body">
                <h4 class="title card-title">Ruusa Bolton</h4>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/ruusapbolton/" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:ruusa.bolton@gmail.com" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://github.com/ruusabolton" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/DavidMyers.jpg" class="width" alt="David Myers"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">David Myers</h4>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/david-a-myers/" class="btn btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:davidmyers6643@gmail.com" class="btn btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://github.com/davidmyers6643" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/CharlesHadden.jpg" class="width" alt="Charles Hadden"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">Charles Hadden</h4>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/charles-hadden/" class="btn btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:charlesrhadden@gmail.com" class="btn btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://github.com/charleshadden" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-img-top">
                <img src="/../images/TylorPelletier.jpg" class="width" alt="Tylor Pelletier"/>
            </div>
            <div class="card-body">
                <h4 class="card-title">Tylor Pelletier</h4>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="https://www.linkedin.com/in/tylor-pelletier/" class="btn btn-outline-success mx-auto"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:pelletier.tylor@gmail.com" class="btn btn-outline-success mx-auto"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://github.com/tylor-pelletier" class="btn w3-btn w3-black btn-outline-success mx-auto"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

</div>

</body>

<script th:replace="fragments/scripts :: scripts"></script>

</html>