<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Your Profile')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1>Edit Buyer Profile</h1>
<form th:action="'/profile/'+ ${user.id} + '/edit'" th:method="post" th:object="${user}">
<label for="">User Name</label>
<input type="text" th:field="*{username}" />
<br/>
<label for="">First Name</label>
<input type="text" th:field="*{first_name}" />
<br/>

<button class="button">Update Profile</button>
</form>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>