<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('HomeFinder.com')"></head>
<body>



<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="jumbotron jumbotron-fluid parallaxHome">
    <div class="container-fluid banner">
        <div class="text text-center">
            <h1>Welcome to <span class="logo-text">HomeFinderTX</span></h1>
            <p>Imagine the possibilities</p>
        </div>
    </div>
</div>

<div class="container pt-1 my-5">
    <div class="card-group">
        <div class="card text-center">
            <i class="mt-3 far fa-list-alt fa-7x card-img-top" style="color: #696969;"></i>
            <div class="card-body">
                <a href="/ads" class="btn btn-danger btn-lg mx-auto mb-3">Go to Listings</a>
                <p class="card-text">View our Featured Listings!</p>
            </div>
        </div>
        <div class="card text-center">
            <i class="mt-3 fas fa-user-plus fa-7x card-img-top" style="color: #696969;"></i>
            <div class="card-body">
                <a href="/register" class="btn btn-danger btn-lg mx-auto mb-3">Register</a>
                <p class="card-text"> Register for a FREE account!</p>
            </div>
        </div>
        <div class="card text-center">
            <i class="mt-3 far fa-keyboard fa-7x card-img-top" style="color: #696969;"></i>
            <div class="card-body">
                <a href="/login" class="btn btn-danger btn-lg mx-auto mb-3">Login</a>
                <p class="card-text">Already have an account? Click the button to login!</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5" style="background-color: #2b2b2b">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center pt-4" style="color: white;">
                <i class="fas fa-quote-left fa-3x mx-4" style="color: white;"></i>
                See what our users are saying!
                <i class="fas fa-quote-right fa-3x mx-4" style="color: white;"></i>
            </h2>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active p-4">
                <h5>Bob Bobberson said:</h5>
                <blockquote class="blockquote">"I was amazed at how quickly I was able to sell my house! Would highly recommend using HomeFinderTX."</blockquote>
            </div>
            <div class="carousel-item p-4">
                <h5>John Smitherson said:</h5>
                <blockquote class="blockquote">"Clearing out my parents' house has never been easier!"</blockquote>
            </div>
            <div class="carousel-item p-4">
                <h5>Larry Cucumberson said:</h5>
                <blockquote class="blockquote">"Whenever I move, I just log on to my HomeFinderTX profile and find a new apartment!"</blockquote>
            </div>
            <div class="carousel-item p-4">
                <h5>Bruce Waynerson said:</h5>
                <blockquote class="blockquote">"I was in need of replacement parents. HomeFinderTX came through!"</blockquote>
            </div>
            <div class="carousel-item p-4">
                <h5>Lydia Englisherson said:</h5>
                <blockquote class="blockquote">"HomeFinderTX gave me a wonderful loft! 5/5."</blockquote>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <hr>
            <hr>
            <h1 class="my-4 text-center">Meet the Faux-Agents</h1>
            <hr>
            <hr>
        </div>
    </div>
    <div class="card-group mt-3 mb-2 dev-profiles">
        <div class="card text-center">
            <div class="card-img-top">
                <img src="/../images/RuusaBolton.jpg" class="rounded-circle" alt="Ruusa Bolton" />
            </div>
            <div class="card-body">
                <h4 class="card-title">Ruusa Bolton</h4>
                <a href="https://www.linkedin.com/in/ruusapbolton/" class="btn btn-outline-danger mx-auto">Contact</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-img-top">
                <img src="/../images/DavidMyers.jpg" class="rounded-circle" alt="David Myers" />
            </div>
            <div class="card-body">
                <h4 class="card-title">David Myers</h4>
                <a href="https://www.linkedin.com/in/ruusapbolton/" class="btn btn-outline-danger mx-auto">Contact</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-img-top">
                <img src="/../images/CharlesHadden.jpg" class="rounded-circle" alt="Charles Hadden" />
            </div>
            <div class="card-body">
                <h4 class="card-title">Charles Hadden</h4>
                <a href="https://www.linkedin.com/in/ruusapbolton/" class="btn btn-outline-danger mx-auto">Contact</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-img-top">
                <img src="/../images/TylorPelletier.jpg" class="rounded-circle" alt="Tylor Pelletier" />
            </div>
            <div class="card-body">
                <h4 class="card-title">Tylor Pelletier</h4>
                <a href="https://www.linkedin.com/in/ruusapbolton/" class="btn btn-outline-danger mx-auto">Contact</a>
            </div>
        </div>
    </div>
</div>


<script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>