<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('HomeFinder.com')"></head>
<link rel="stylesheet" href="/css/home.css" />

<body class="home-body">

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="parallaxHome">
    <div class="container-fluid banner pl-0 pr-0">
        <div class="text-center text-white">
            <h1 class="home-title">Welcome to <span class="logo-text">HomeFinder</span></h1>
            <h1 class="imagine">Imagine the possibilities</h1>
        </div>
    </div>
</div>

<script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>
