<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Login')"></head>
<link rel="stylesheet" href="/css/login.css" />

<body class="login-body">

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="register-container container login-box">
    <div class="row main justify-content-center">
        <div class="text-white grey-transparent">
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <br />
            <form th:action="@{/login}" class="login-form" method="post">
                <div class="input-group question">
                    <h3 class="cols-sm-2 control-label">Username <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span></h3>
                    <input id="username" name="username" type="text" />
                </div>
                <div class="input-group question">
                    <h3 class="cols-sm-2 control-label">Password <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span></h3>
                    <input id="password" name="password" type="password" />
                </div>
                <button type="submit" value="Log In">Log In</button>
            </form>
            <br />
            <div>Don't have an account? <a href="/register" class="anchor">Click here</a></div>

        </div>
    </div>
</div>

<script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>
