<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Register')"></head>
<link rel="stylesheet" href="/css/register.css" />

<body class="register-body">

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="register-container container">
    <div class="row main justify-content-center">
        <div class="main-login main-center register-box grey-transparent text-center">
            <button type="submit" class="close" onclick="goBack()">&times;</button>

            <h1 class="text-white">Sign up to find your dream home</h1>
            <br />
            <form th:action="'/register'" th:method="post" th:object="${user}" class="register-form">
                <div class="form-group">
                    <!--<label for="first_name" class="cols-sm-2 control-label">First Name</label>-->
                    <div class="input-group question">
                        <input type="text" th:field="*{first_name}" class="form-control" name="first_name" id="first_name"  placeholder="Enter your First Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="last_name" class="cols-sm-2 control-label">Last Name</label>-->
                    <div class="input-group question">
                        <input type="text" th:field="*{last_name}" class="form-control" name="last_name" id="last_name"  placeholder="Enter your Last Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="username" class="cols-sm-2 control-label">User Name</label>-->
                    <div class="input-group question">
                        <input type="text" th:field="*{username}" class="form-control" name="username" id="username"  placeholder="Enter a User Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="phone_number" class="cols-sm-2 control-label">Phone Number</label>-->
                    <div class="input-group question">
                        <input type="text" th:field="*{phone_number}" class="form-control" name="phone_number" id="phone_number"  placeholder="Enter Phone Number"/>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="email" class="cols-sm-2 control-label">Your Email</label>-->
                    <div class="input-group question">
                        <input type="text" th:field="*{email}" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="password" class="cols-sm-2 control-label">Password</label>-->
                    <div class="input-group question">
                        <input type="password"  th:field="*{password}" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                    </div>
                </div>
                <div class="form-group">
                <!--<label class="cols-sm-2 control-label">User Type</label>-->
                    <div class="input-group justify-content-center">
                        <select name="user_type" class="btn btn-success">
                            <option value="true">Buyer</option>
                            <option value="false">Seller</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" id="button" class="login-button">Register</button>
                </div>
            </form>

            <div class="text-white">Already have an account? <a href="/login" class="anchor">Click here</a></div>

        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>

