<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Your Profile')"></head>
<body>
<nav th:replace="fragments/sellernavbar :: sellernavbar"></nav>

<div class="container" style="margin: 3em;">
    <h1>Welcome, <span th:text="${user.first_name}"></span></h1>
    <h4>Username: <span th:text="${user.username}"></span></h4>
    <h4>Email: <span th:text="${user.email}"></span></h4>
    <h4>Phone Number: <span th:text="${user.phone_number}" class="phone"></span></h4>
    <a th:href="@{/sellerprofile/{id}/edit(id=${user.id})}"><button class="button btn btn-success">Edit Profile</button></a>
    <br /><br />

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="9"><h4>Your current listing(s).</h4></th>
            </tr>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Description</th>
                <th scope="col">State</th>
                <th scope="col">Status</th>
                <th scope="col">Edit listing</th>
                <th scope="col">Delete listing</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listings.empty}">
                <td class="table-danger" colspan="9">You do not have any listings.</td>
            </tr>
            <tr th:each="listing : ${listings}">
                <td class="text-right">$<span th:text="${listing.price}" class="cost"></span>0</td>
                <td th:text="${listing.address}"></td>
                <td th:text="${listing.city}"></td>
                <td th:text="${listing.description}"></td>
                <td th:text="${listing.state}" class="text-center"></td>
                <td th:text="${listing.status}"></td>
                <td class="text-center">
                    <a th:href="@{/{id}/edit(id=${listing.id})}"><button class="button btn btn-outline-success">Edit</button></a>
                </td>
                <td class="text-center">
                    <a th:href="@{/{id}/delete(id=${listing.id})}"><button class="button btn btn-outline-danger">Delete</button></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script th:replace="fragments/scripts :: scripts"></script>
<script>

    $('.phone').text(function(i, text) {
        return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });

    $.fn.digits = function(){
        return this.each(function(){
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
        })
    };

    $('.cost').digits();

</script>
</body>
</html>
