<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Your Profile')"></head>
<link rel="stylesheet" href="/css/seller-edit-profile.css" />



<body class="create-body">
<nav th:replace="fragments/sellernavbar :: sellernavbar"></nav>

<div class="register-container container text-white">
    <div class="row main justify-content-center">
        <div class="main-login main-center create-box grey-transparent text-center">
            <button type="submit" class="close" onclick="goBack()">&times;</button>

            <h4>Hello, <span th:text="${user.first_name}"></span>!</h4><br/>
            <p>Edit your profile information.</p>
            <form th:action="'/sellerprofile/'+ ${user.id} + '/edit'" th:method="post" th:object="${user}" class="create-form">
                <div class="form-group">
                    <label class="cols-sm-2 control-label">User Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group question">
                            <input type="text" class="form-control" th:field="*{username}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group question">
                            <input type="text" class="form-control" th:field="*{email}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group question">
                            <input type="text" class="form-control" th:field="*{first_name}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group question">
                            <input type="text" class="form-control" th:field="*{last_name}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label">Phone Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group question">
                            <input type="text" class="form-control" th:field="*{phone_number}" />
                        </div>
                    </div>
                </div>
                <br/>

                <input type="hidden" th:field="*{password}"/>
                <input type="hidden" th:field="*{isBuyer}"/>

                <input class="btn btn-outline-success" type="submit" id="sbt" value="Submit" />
                <input class="btn btn-outline-success" type="reset" id="rst" value="Reset Form" />


            </form>

        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>