<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('List of all the Listings')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <h1>These are all the seller listings</h1>

    <div th:each="listing : ${listings}">
        <p th:text="${listing.description}"></p>
        <p th:text="${listing.price}"></p>
        <a th:href="@{/{id}(id=${listing.id})}">Go Somewhere...</a>
    </div>

    <script th:replace="fragments/scripts :: scripts"></script>
</div>



<script th:replace="fragments/scripts :: scripts"></script>


</body>
</html>