<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Your Profile')"></head>
<body>
<nav th:replace="fragments/sellernavbar :: sellernavbarnavbar"></nav>
<h1>Edit Seller Profile</h1>
<form th:action="'/sellerprofile/'+ ${user.id} + '/edit'" th:method="post" th:object="${user}">
    <label for="">User Name</label>
    <input type="text" th:field="*{username}" />
    <br/>
    <label for="">Email</label>
    <input type="text" th:field="*{email}" />
    <br/>
    <label for="">First Name</label>
    <input type="text" th:field="*{first_name}" />
    <br/>
    <label for="">Last Name</label>
    <input type="text" th:field="*{last_name}" />
    <br/>

    <input type="hidden" th:field="*{password}"/>
    <input type="hidden" th:field="*{phone_number}"/>
    <input type="hidden" th:field="*{isBuyer}"/>




    <button class="button">Update Profile</button>
</form>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>