<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head('View House')"></head>
<link rel="stylesheet" href="/css/show.css" />

<body class="show-background">

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container" th:object="${listing}">

    <div class="banner d-lg-none">
        <br />
        <h3 class="listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h3>
        <h3>
            <span th:text="${listing.city}" class="cities"></span><span>, </span>
            <span th:text="${listing.state}" class="states"></span>
            <span th:text="${listing.zipcode}" class="zipcodes"></span>
        </h3>
        <h3>
            <span th:text="${listing.description}"></span>
        </h3>
        <h3>
            <span th:text="${listing.status}"></span>
        </h3>

    </div>

    <section>

        <div class="container mt-5 d-none d-lg-block">
            <div class="row shadow-lg ">
                <div class="col-md-6 p-0">
                    <div class="card text-center  ">
                        <img th:src="@{'/images/' + ${listing.uploadPath}}" th:alt-title="#{logo}" style="width:100%" class="img-fluid d-block border-0" />
                    </div>            </div>
                <div class="col-md-6 card-group">
                    <div class="row">
                        <div class="col card text-center p-0">
                            <img th:src="@{'/images/' + ${listing.uploadPath5}}" th:alt-title="#{logo}" style="width:100%"  />
                            <img th:src="@{'/images/' + ${listing.uploadPath2}}" th:alt-title="#{logo}" style="width:100%"  />
                        </div>
                        <div class="col card text-center p-0">
                            <img th:src="@{'/images/' + ${listing.uploadPath3}}" th:alt-title="#{logo}" style="width:100%"  />
                            <img th:src="@{'/images/' + ${listing.uploadPath4}}" th:alt-title="#{logo}" style="width:100%"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5 d-lg-none">
            <div class="row shadow-lg ">
                <div class="col-md-6 p-0">
                    <div class="card text-center  ">
                        <img th:src="@{'/images/' + ${listing.uploadPath}}" th:alt-title="#{logo}" style="width:100%" class="img-fluid d-block border-0" />
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="card text-center  ">
                        <img th:src="@{'/images/' + ${listing.uploadPath2}}" th:alt-title="#{logo}" style="width:100%" class="img-fluid d-block border-0" />
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="card text-center  ">
                        <img th:src="@{'/images/' + ${listing.uploadPath3}}" th:alt-title="#{logo}" style="width:100%" class="img-fluid d-block border-0" />
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="card text-center  ">
                        <img th:src="@{'/images/' + ${listing.uploadPath4}}" th:alt-title="#{logo}" style="width:100%" class="img-fluid d-block border-0" />
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="card text-center  ">
                        <img th:src="@{'/images/' + ${listing.uploadPath5}}" th:alt-title="#{logo}" style="width:100%" class="img-fluid d-block border-0" />
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br/>

    <div class="banner d-none d-lg-block">
        <h3 class="listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h3>
        <h3>
            <span th:text="${listing.city}" class="cities"></span><span>, </span>
            <span th:text="${listing.state}" class="states"></span>
            <span th:text="${listing.zipcode}" class="zipcodes"></span>
        </h3>
        <h3>
            <span th:text="${listing.description}"></span>
        </h3>
        <h3>
            <span th:text="${listing.status}"></span>
        </h3>
        <br />
    </div>


    <section>
        <div class="col-container w-100">
            <div class=" card-deck row">
                <div class="card  border-success  text-center mb-4 col-12 col-lg-6 w-100 p-0" >
                    <div class="card-img-top row justify-content-center">
                        <p class="listing-wrapper " th:attr="data-listing-map-id=${listing.id}" style="width: 100%">
                        <div th:attr="id=${'map_' + listing.id}" class="maps map-size"></div>
                        </p>
                    </div>
                    <div class="card-body">
                        <small class="text-muted"><h3>Listed Price</h3>
                            <h2>$<span th:text="${listing.price}" class="cost"></span>0</h2>
                        </small>
                    </div>
                    <!-- Trigger the modal with a button -->
                    <div class="card-footer ">
                        <button sec:authorize="isAuthenticated()" type="button" class="button btn-outline-success" id="btnId">
                            <a class="nav-link " href="/calltwilio"> <b>Contact Seller</b></a>
                        </button>
                        <a href="/login"><p sec:authorize="!isAuthenticated()">Please log in for access to more features.</p></a>
                    </div>
                </div>

                <div class="card  border-success  text-center mb-4 col-12 col-lg-6 w-100 p-0">
                    <form action="">
                        <div class="card-body">
                            <h5 class="card-title">Mortgage Calculator</h5>
                            <p>Drag the slider to display the desired value.</p>
                            <label>APR Percent(%):

                                <div class="slidecontainer">
                                    <input type="range" min="0.0" max="15" class="slider1" step="0.1" value="4.5" id="apr" />
                                    <p>APR (0% - 15%): <span id="demo"></span></p>
                                </div>
                            </label>
                            <br />

                            <label>Loan Term:

                                <div class="slidecontainer">
                                    <input type="range" min="1" max="30" value="15" class="slider1" id="trm" />
                                    <p>Loan Term (1 year - 30 years): <span id="demo1"></span></p>
                                </div>
                            </label>
                            <br />
                            <!--<label>Loan Term(Year): <input type="text" id="trm" name="APR" /></label><br />-->
                            <label>Loan Amount:

                                <div class="slidecontainer">
                                    <input type="range" min="20000" max="2000000" class="slider1" step="100" value="500000" id="amt" />
                                    <p>Loan Amount ($): ($20,000 - $2 million): <span id="demo3"></span></p>
                                </div>
                            </label>
                            <br />

                            <!--<label>Loan Amount ($): <input type="text" id="amt" name="amt" /></label><br />-->
                            <input class="btn btn-outline-success" type="button" id="sbt" value="Submit" />
                            <input class="btn btn-outline-success" type="reset" id="rst" value="Reset Form" /><br /><br />

                        </div>
                        <div class="card-footer">
                            <label>Monthly Payment: <input type="text" id="pmt" name="mPmt" /></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>


</div>



<!--MODAL-->

<div class="container">

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="modalId" role="dialog">
        <div class="modal-dialog">

            <!-- Bootstrap Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enquiry about </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="container" th:object="${listing}">

                        <h5 class="listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h5>
                        <h5><span th:text="${listing.city}"></span><span>, </span>
                            <span th:text="${listing.state}"></span>
                            <span th:text="${listing.zipcode}"></span></h5>
                    </div>
                    <div>
                        <form  th:action="@{/twilio}"  method="post">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Enter a telephone number</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="2101231234" />

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Which do you prefer? (select 1 option from the drop-down)</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Phone Call</option>
                                    <option>Text Message</option>
                                    <option>Email (We can only use your registered email address)</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your question"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-success mb-2" >Send</button>
                            <button type="reset"  class="btn btn-outline-success mb-2" value="Reset">Reset</button>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/scripts :: scripts"></script>
<script>
    var term;
    var apr;
    var amt;
    var mPmt;

    window.onload = function()
    {
        document.getElementById("apr").focus();
        document.getElementById("sbt").onclick = getValues;
    };

    function getValues() {
        term = document.getElementById("trm").value;
        apr = document.getElementById("apr").value;
        amt = document.getElementById("amt").value;
        apr /= 1200;
        term *= 12;
        mPmt = calculatePayment();
        document.getElementById("pmt").value = "$" + mPmt.toFixed(2);
    }

    function calculatePayment() {
        var payment = amt*(apr * Math.pow((1 + apr), term))/(Math.pow((1 + apr), term) - 1);
        return payment;
    }

    $('.phone').text(function(i, text) {
        return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });

    $.fn.digits = function(){
        return this.each(function(){
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
        })
    };

    $('.cost').digits();

    //modal functionality

    $( document ).ready(function() {

        var url = window.location;

        $("#btnId").click(function(event){
            event.preventDefault();

            // Open Bootstrap Modal
            openModel();
            // Get data from Server
            ajaxGet();
        });

        // Open Bootstrap Modal
        function openModel(){
            $("#modalId").modal();
        }

        // DO GET
        function ajaxGet(){
            $.ajax({
                type : "GET",
                url : url + "/greeting",
                success: function(data){
                    // fill data to Modal Body
                    fillData(data);
                },
                error : function(e) {
                    fillData(null);
                }
            });
        }

        function fillData(data){
            if(data!=null){
                $(".modal-body #greetingId").text(data);
            }else{
                $(".modal-body #greetingId").text("Can Not Get Data from Server!");
            }
        }
    });

    // RANGE SLIDER
    var slider1 = document.getElementById("apr");
    var output1 = document.getElementById("demo");
    output1.innerHTML = slider1.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider1.oninput = function() {
        output1.innerHTML = this.value;
    };
    var slider2 = document.getElementById("trm");
    var output2 = document.getElementById("demo1");
    output2.innerHTML = slider2.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider2.oninput = function() {
        output2.innerHTML = this.value;
    };

    var slider3 = document.getElementById("amt");
    var output3 = document.getElementById("demo3");
    output3.innerHTML = slider3.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider3.oninput = function() {
        output3.innerHTML = this.value;
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhurXijdJgQJHmGLvsUToMu9fTqIJYw-c"></script>
<script src="/js/google-maps.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>