<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head('View House')"></head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container" th:object="${listing}">

    <h1 class="listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h1>
    <h1><span th:text="${listing.city}"></span><span>, </span>
        <span th:text="${listing.state}"></span>
        <span th:text="${listing.zipcode}"></span></h1>

    <img th:src="@{'/images/' + ${listing.uploadPath}}" th:alt-title="#{logo}" />
    <img th:src="@{'/images/' + ${listing.uploadPath2}}" th:alt-title="#{logo}" />
    <img th:src="@{'/images/' + ${listing.uploadPath3}}" th:alt-title="#{logo}" />
    <img th:src="@{'/images/' + ${listing.uploadPath4}}" th:alt-title="#{logo}" />
    <img th:src="@{'/images/' + ${listing.uploadPath5}}" th:alt-title="#{logo}" />
    <p th:text="${listing.description}"></p>
    <p th:text="${listing.status}"></p>
    <h2>$<span th:text="${listing.price}" class="cost"></span>0</h2>
    <h3>Contact the seller</h3>
    <h3>Email: <span th:text="${listing.user.email}"></span></h3>
    <h3>Phone: <span th:text="${listing.user.phone_number}" class="phone"></span></h3>

    <h3>Mortgage Calculator:</h3>
    <form action="">
        <label>APR Percent(%): <input type="text" id="apr" name="APR" /></label><br />
        <label>Loan Term(Year): <input type="text" id="trm" name="APR" /></label><br />
        <label>Loan Amount ($): <input type="text" id="amt" name="amt" /></label><br />
        <input class="btn btn-outline-success" type="button" id="sbt" value="Submit" />
        <input class="btn btn-outline-success" type="reset" id="rst" value="Reset Form" /><br /><br />
        <label>Monthly Payment: <input type="text" id="pmt" name="mPmt" /></label>
    </form>




</div>

<!--MODAL-->

<div class="container">
    <h1>Submit a request about this listing</h1>
    <!-- Trigger the modal with a button -->
    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-info btn-lg" id="btnId">
        <a class="nav-link " href="/calltwilio"><i class="fa fa-fw fa-envelope "></i> Click here</a>
    </button>

    <!--<button  >Click Here</button>-->

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="modalId" role="dialog">
        <div class="modal-dialog">

            <!-- Bootstrap Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enquiry about </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="container" th:object="${listing}">

                        <h5 class="listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h5>
                        <h5><span th:text="${listing.city}"></span><span>, </span>
                            <span th:text="${listing.state}"></span>
                            <span th:text="${listing.zipcode}"></span></h5>
                    </div>
                    <div>
                        <form  th:action="@{/twilio}"  method="post">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Enter a telephone number?</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="5551115555" />

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Which do you prefer? (select 1 option from the drop-down)</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Phone Call</option>
                                    <option>Text Message</option>
                                    <option>Email (We can only use your registered email address)</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your question"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-success mb-2" >Send</button>
                            <button type="reset"  class="btn btn-outline-success mb-2" value="Reset">Reset</button>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script th:replace="fragments/scripts :: scripts"></script>
<script>
    var term;
    var apr;
    var amt;
    var mPmt;

    window.onload = function()
    {
        document.getElementById("apr").focus();
        document.getElementById("sbt").onclick = getValues;
    };

    function getValues() {
        term = document.getElementById("trm").value;
        apr = document.getElementById("apr").value;
        amt = document.getElementById("amt").value;
        apr /= 1200;
        term *= 12;
        mPmt = calculatePayment();
        document.getElementById("pmt").value = "$" + mPmt.toFixed(2);
    }

    function calculatePayment() {
        var payment = amt*(apr * Math.pow((1 + apr), term))/(Math.pow((1 + apr), term) - 1);
        return payment;
    }

    $('.phone').text(function(i, text) {
        return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });

    $.fn.digits = function(){
        return this.each(function(){
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
        })
    };

    $('.cost').digits();

    //modal functionality

    $( document ).ready(function() {

        var url = window.location;

        $("#btnId").click(function(event){
            event.preventDefault();

            // Open Bootstrap Modal
            openModel();
            // Get data from Server
            ajaxGet();
        })

        // Open Bootstrap Modal
        function openModel(){
            $("#modalId").modal();
        }

        // DO GET
        function ajaxGet(){
            $.ajax({
                type : "GET",
                url : url + "/greeting",
                success: function(data){
                    // fill data to Modal Body
                    fillData(data);
                },
                error : function(e) {
                    fillData(null);
                }
            });
        }

        function fillData(data){
            if(data!=null){
                $(".modal-body #greetingId").text(data);
            }else{
                $(".modal-body #greetingId").text("Can Not Get Data from Server!");
            }
        }
    })
</script>

</body>
</html>
