<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head('View House')">

    <style>
        .slidecontainer {
            width: 100%; /* Width of the outside container */
        }

        /* The slider itself */
        .slider1 {
            -webkit-appearance: none;  /* Override default CSS styles */
            appearance: none;
            width: 100%; /* Full-width */
            height: 25px; /* Specified height */
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }
        /* The slider itself */

        /* Mouse-over effects */
        .slider1:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider1::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        .slider1::-moz-range-thumb {
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }


    </style>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container" th:object="${listing}">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{'/images/' + ${listing.uploadPath}}" th:alt-title="#{logo}" class="d-block w-100 img-thumbnail img-responsive" />
            </div>

            <div class="carousel-item">
                <img th:src="@{'/images/' + ${listing.uploadPath2}}" th:alt-title="#{logo}" class="d-block w-100 img-thumbnail img-responsive" />
            </div>

            <div class="carousel-item">
                <img th:src="@{'/images/' + ${listing.uploadPath3}}" th:alt-title="#{logo}" class="d-block w-100 img-thumbnail img-responsive" />
            </div>
            <div class="carousel-item">
                <img th:src="@{'/images/' + ${listing.uploadPath4}}" th:alt-title="#{logo}" class="d-block w-100 img-thumbnail img-responsive" />
            </div>

            <div class="carousel-item">
                <img th:src="@{'/images/' + ${listing.uploadPath5}}" th:alt-title="#{logo}" class="d-block w-100 img-thumbnail img-responsive" />
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!--SELECTED LISTING INFORMATION-->
<div class="container">
    <div class="row card-deck">
        <div class="col-sm-6">
            <div class="card text-center" style="width: 25rem; height: 100%;" >
                <div class="card-body">
                    <h5 class="card-title listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h5>
                    <h5 class="card-title">
                        <span th:text="${listing.city}"></span><span>, </span>
                        <span th:text="${listing.state}"></span>
                        <span th:text="${listing.zipcode}"></span>
                    </h5>
                    <p class="listing-wrapper" th:attr="data-listing-map-id=${listing.id}">
                    <div th:attr="id=${'map_' + listing.id}" class="maps map-size"></div>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><h3>Listed Price</h3>
                            <h2>$<span th:text="${listing.price}" class="cost"></span>0</h2>
                        </small>
                    </p>
                    <!-- Trigger the modal with a button -->
                    <p>
                        <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-success btn-lg" id="btnId">
                            <a class="nav-link " href="/calltwilio"> <b>Contact Seller</b></a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <!--MORTGAGE CALCULATOR-->
        <div class="col-sm-6">
            <div class="card text-center" style="width: 25rem; height: 100%;"  >
                <div class="card-body">
                    <h5 class="card-title">Mortgage Calculator</h5>
                    <form action="">
                        <p>Drag the slider to display the desired value.</p>
                        <label>APR Percent(%):

                            <div class="slidecontainer">
                                <input type="range" min="0.0" max="15" class="slider1" step="0.1" value="4.5" id="apr" />
                                <p>APR (0% - 15%): <span id="demo"></span></p>
                            </div>
                        </label>
                        <br />

                        <label>Loan Term:

                            <div class="slidecontainer">
                                <input type="range" min="1" max="30" value="15" class="slider1" id="trm" />
                                <p>Loan Term (1 year - 30 years): <span id="demo1"></span></p>
                            </div>
                        </label>
                        <br />
                        <!--<label>Loan Term(Year): <input type="text" id="trm" name="APR" /></label><br />-->
                        <label>Loan Amount:

                            <div class="slidecontainer">
                                <input type="range" min="5000" max="5000000" class="slider1" step="1" value="1000000" id="amt" />
                                <p>Loan Amount ($): ($5000 - $5 million): <span id="demo3"></span></p>
                            </div>
                        </label>
                        <br />

                        <!--<label>Loan Amount ($): <input type="text" id="amt" name="amt" /></label><br />-->
                        <input class="btn btn-outline-success" type="button" id="sbt" value="Submit" />
                        <input class="btn btn-outline-success" type="reset" id="rst" value="Reset Form" /><br /><br />
                        <label>Monthly Payment: <input type="text" id="pmt" name="mPmt" /></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL-->

<div class="container">

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="modalId" role="dialog">
        <div class="modal-dialog">

            <!-- Bootstrap Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enquiry about </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="container" th:object="${listing}">

                        <h5 class="listing-address addresses" th:attr="data-listing-map-address=${listing.address}" th:text="${listing.address}"></h5>
                        <h5><span th:text="${listing.city}"></span><span>, </span>
                            <span th:text="${listing.state}"></span>
                            <span th:text="${listing.zipcode}"></span></h5>
                    </div>
                    <div>
                        <form  th:action="@{/twilio}"  method="post">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Enter a telephone number?</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="5551115555" />

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Which do you prefer? (select 1 option from the drop-down)</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Phone Call</option>
                                    <option>Text Message</option>
                                    <option>Email (We can only use your registered email address)</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your question"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-success mb-2" >Send</button>
                            <button type="reset"  class="btn btn-outline-success mb-2" value="Reset">Reset</button>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhurXijdJgQJHmGLvsUToMu9fTqIJYw-c"></script>
<script src="/js/google-maps.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script th:replace="fragments/scripts :: scripts"></script>
<script>
    var term;
    var apr;
    var amt;
    var mPmt;

    window.onload = function()
    {
        document.getElementById("apr").focus();
        document.getElementById("sbt").onclick = getValues;
    };

    function getValues() {
        term = document.getElementById("trm").value;
        apr = document.getElementById("apr").value;
        amt = document.getElementById("amt").value;
        apr /= 1200;
        term *= 12;
        mPmt = calculatePayment();
        document.getElementById("pmt").value = "$" + mPmt.toFixed(2);
    }

    function calculatePayment() {
        var payment = amt*(apr * Math.pow((1 + apr), term))/(Math.pow((1 + apr), term) - 1);
        return payment;
    }

    $('.phone').text(function(i, text) {
        return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });

    $.fn.digits = function(){
        return this.each(function(){
            $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
        })
    };

    $('.cost').digits();

    //modal functionality

    $( document ).ready(function() {

        var url = window.location;

        $("#btnId").click(function(event){
            event.preventDefault();

            // Open Bootstrap Modal
            openModel();
            // Get data from Server
            ajaxGet();
        })

        // Open Bootstrap Modal
        function openModel(){
            $("#modalId").modal();
        }

        // DO GET
        function ajaxGet(){
            $.ajax({
                type : "GET",
                url : url + "/greeting",
                success: function(data){
                    // fill data to Modal Body
                    fillData(data);
                },
                error : function(e) {
                    fillData(null);
                }
            });
        }

        function fillData(data){
            if(data!=null){
                $(".modal-body #greetingId").text(data);
            }else{
                $(".modal-body #greetingId").text("Can Not Get Data from Server!");
            }
        }
    })

    // RANGE SLIDER
    var slider1 = document.getElementById("apr");
    var output1 = document.getElementById("demo");
    output1.innerHTML = slider1.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider1.oninput = function() {
        output1.innerHTML = this.value;
    }
    var slider2 = document.getElementById("trm");
    var output2 = document.getElementById("demo1");
    output2.innerHTML = slider2.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider2.oninput = function() {
        output2.innerHTML = this.value;
    }

    var slider3 = document.getElementById("amt");
    var output3 = document.getElementById("demo3");
    output3.innerHTML = slider3.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider3.oninput = function() {
        output3.innerHTML = this.value;
    }
</script>

</body>
</html>
