<!DOCTYPE html>
<html lang="en" th:xmlns="http://www.w3.org/1999/ http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Contact')">
    <meta charset="UTF-8"/>
    <title>Twilio App</title>
    <link rel="stylesheet" href="/../navbar.css" th:href="@{/navbar.css}"/>
    <link rel="stylesheet" href="/../style.css" th:href="@{/style.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<span><h1 style="text-align: center; margin-top: 50px; margin-bottom: 25px; border: 2px solid #28a745;">contact request</h1></span>

<div class="container">
    <div class="row row-centered">
        <div class="col-lg-6 col-centered">

            <form  th:action="@{/twilio}"  method="post">
                <div class="form-group">
                    <label for="exampleFormControlInput1">What is your telephone number?</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="5551115555" />

                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Which do you prefer? (select 1 option from the drop-down)</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Phone Call</option>
                        <option>Text Message</option>
                        <option>Email (We can only use your registered email address)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="don't forget to include the listing ID or address..."></textarea>
                </div>
                <button type="submit" class="btn btn-success mb-2">Send</button>

            </form>

        </div>

    </div>
</div>

</body>
</html>