<!DOCTYPE html>
<html lang="en" th:xmlns="http://www.w3.org/1999/ http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Contact')">
    <meta charset="UTF-8"/>
    <title>Twilio App</title>
    <link rel="stylesheet" href="/../navbar.css" th:href="@{/navbar.css}"/>
    <link rel="stylesheet" href="/../style.css" th:href="@{/style.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>



<div class="container">
    <div class="row row-centered">
        <div class="col-lg-6 col-centered">
            <!--<p th:text="'Your ' + ${mode} + ' is being sent to ' + ${number} + '.'" />-->
            <p>Redirecting to previous page...</p>
        </div>
    </div>
</div>



</body>
</html>