<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/ http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Your Profile')">
    <meta charset="UTF-8">
    <title>Change your Password</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">

        <div class="row mt-4 py-2">
            <div class="col-1 mr-3">
                <i class="fas fa-user-edit fa-4x" style="color: #696969;"></i>
            </div>
            <div class="col">
                <h1>Update your Profile</h1>
            </div>
        </div>
        <hr>

        <div class="card text-center border-dark mx-auto" style="width: 60%;">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">

                    <%--NEED TO WORK ON LINKS - GET CODE FOR GETADSBYUSER      --%>
                    <li class="nav-item">
                        <a class="nav-link title-link" href="/profile/update">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Change Password</a>
                    </li>
                    <%--<li class="nav-item">--%>
                    <%--<a class="nav-link" href="/listings">VIEW ALL LISTINGS</a>--%>
                    <%--</li>--%>

                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <br>
                    Password Change Form
                </h5>
                <p class="card-text">
                <form action="/profile/password" method="post">

                <input type="hidden" name="id" value="${user.id}">
                <input type="hidden" name="firstName" value="${user.firstName}">
                <input type="hidden" name="lastName" value="${user.lastName}">
                <input type="hidden" name="email" value="${user.email}">
                <input type="hidden" name="phoneNo" value="${user.phoneNo}">
                <input type="hidden" name="phoneNo" value="${user.tempPassword}">
                <table align="center" class="w-80">
                        <tr>
                            <td>New Password:  </td>
                            <td>
                                <input id="password" name="password" class="form-control" type="password" value="${user.password}" >
                            </td>
                        </tr>
                        <tr>
                            <td> Confirm your password:  </td>
                            <td>
                                <input id="confirm_password" name="confirm_password" class="form-control" type="password">
                            </td>
                        </tr>
                        <tr><td></td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                        <input type="submit" class="card-link btn btn-sm btn-danger" value="Submit">
                        <input type="submit" class="card-link btn btn-sm btn-secondary" value="Cancel">
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
