<html xml:lang="en" lang="en">
<head>
    <title></title>
</head>
<body>
<form method="post" action="/zillow" name="zip_search">
    <table align="center" width="618">
        <tr>
            <td colspan="2">Please specify the Property address.</td>

            <td width="205" align="left"> <div align="left"></div></td>
        </tr>
        <tr>
            <td colspan="2">Street:
                <input id="street2" type="text" maxlength="50" size="50" value="" name="address"/></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">City, State or ZipCode:
                <input id="citystatezip3" type="text" maxlength="50" size="20" value="" name="citystatezip"/></td>

            <td>&nbsp; </td>
        </tr>

    </table>
    <div align="center">
        <input name="submit" type="submit" value="click me"/>
    </div>
</form>
</body>
</html>
